header {
  text-align: center;
  font-size: 25px;
  border: solid 2px black;
  background-color: goldenrod;
  width: 50%;
  margin-left: 25%;
  border-radius: 10px;
}
.App {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.bot-container {
  flex: 1;
  margin-right: 10px;
}

.army-container {
  flex: 1;
  margin-left: 10px;
}

.bot-container, .army-container {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: gainsboro;
  border-radius: 8px;
}

.bot-container {
  margin-right: 20px;
}

.army-container {
  margin-left: 20px;
}

.bot-item {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: transform 0.4s;
}

.bot-item:hover {
  transform: scale(1.05);
}
.release-btn {
  background-color: yellow;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}
.release-btn:hover {
  background-color: greenyellow;
  transform: scale(1.05);
}
.enlist-btn {
  background-color: greenyellow;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.enlist-btn:hover {
  background-color: yellow;
}


.discharge-button {
  color: black;
  background-color: rgb(228, 70, 70);
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}
.discharge-button:hover {
  background-color: red;
  transform: scale(1.05);
}